<h1>***ELIMINAR CONTACTO***</h1>
<img width = "100px" src="/eliminar2.png"><br><br>
<table class="table table-bordered" cellpadding="7">
<tbody>
<th>Nombre</th>

  <th>Telefono</th>

  <th>Correo</th>  

  <th>Identidad</th>

  <th>Direccion</th>   <% for(var i=0;i<Contactos.length;i++) { %>

   <tr>

    <td align = "center">
	

      <%= Contactos[i][0] %>

    </td> 

    <td align = "center">

      <%= Contactos[i][1] %>

    </td>

    <td align = "center">

      <%= Contactos[i][2] %>
    </td>

   <td align = "center">

      <%= Contactos[i][3] %>
    </td>

    <td align = "center">

      <%= Contactos[i][4] %>
    </td>



  </tr>

  <% } %>

 </tbody>

 </table>

<br><br><br><br>


<form action="Eliminar" method=""get>
Nombre: <br>

<input type ="text" name="Nombre"/><br><br>


<input type="submit" value= "Eliminar Contacto"/>



<a href="/Inicio">
  <input type="buttom" value= "Volver Pagina Principal"/><br><br>
</a>

</ul>
</form>

